<header class="mx-auto mb-24 max-w-screen-md border-b">
  <nav class="flex items-center justify-between p-4">
    <h1
      routerLink="/"
      class="cursor-pointer font-display text-2xl font-semibold"
    >
      Clipz
    </h1>
    <div class="flex gap-x-4">
      <a routerLink="/rules" routerLinkActive="text-primary font-semibold"
        >Rules</a
      >
      <a
        routerLink="/leader-board"
        routerLinkActive="text-primary font-semibold"
        >Leader board</a
      >
      <a routerLink="/credits" routerLinkActive="text-primary font-semibold"
        >Credits</a
      >
    </div>
  </nav>
</header>
