<header class="mx-auto mb-12 max-w-screen-md border-b lg:mb-24">
  <nav class="flex items-center justify-between p-4">
    <h1
      routerLink="/"
      class="cursor-pointer font-display text-2xl font-semibold"
    >
      Clipz
    </h1>
    <div class="flex items-center gap-x-2 lg:gap-x-4">
      <a routerLink="/rules" routerLinkActive="text-primary font-semibold"
        >Rules</a
      >
      <span class="text-primary-light">·</span>
      <a
        routerLink="/leader-board"
        routerLinkActive="text-primary font-semibold"
        >Leader board</a
      >
    </div>
  </nav>
</header>
