<app-main-layout>
  <div class="mx-auto flex max-w-[512px] flex-col">
    <h1 class="font-display text-4xl font-semibold">Rules</h1>
    <p class="mb-2">Rules are simple:</p>
    <ol class="mb-8 list-inside list-decimal">
      <li>You get to hear a few seconds of the beginning of a song *</li>
      <li>Guess the song</li>
      <li>If you get it right, you get a point</li>
      <li>...That's it! Easy right?</li>
    </ol>
    <p>How many songs can you guess?</p>
    <p class="text-sm">
      * The higher the difficulty, the less seconds you get to hear but you get
      a points multiplier when you get it right!
    </p>
  </div>
</app-main-layout>
