<header class="flex items-start justify-between">
  <div class="flex flex-col">
    <div class="flex">
      <app-heart [fill]="game().hearts >= 1" />
      <app-heart [fill]="game().hearts >= 2" />
      <app-heart [fill]="game().hearts >= 3" />
      @if (game().difficulty === "medium" || game().difficulty === "easy") {
        <app-heart [fill]="game().hearts >= 4" />
      }

      @if (game().difficulty === "easy") {
        <app-heart [fill]="game().hearts >= 5" />
      }
    </div>
    <div>
      <p class="font-display">Score: {{ game().score }}</p>
    </div>
  </div>

  <span
    class="cursor-pointer pt-1"
    (click)="gameService.showGameEnded.set(true)"
    >Exit</span
  >
</header>
