<div class="mx-auto max-w-screen-md p-4">
  @if (gameService.isLoading()) {
    <div
      class="fixed inset-0 z-[99] flex flex-col items-center justify-center bg-secondary"
    >
      <app-loader />
      <p class="font-display">Loading...</p>
    </div>
  }

  <app-game-header />
  @if (gameService.showCorrectGuess()) {
    <app-correct-guess
      class="z-10"
      [song]="game().songs[game().level - 1]"
      (click)="gameService.continueGame()"
    />
  }

  @if (gameService.showSongSkipped()) {
    <app-skip-song />
  }

  @if (gameService.showGameOver()) {
    <app-game-over />
  }

  @if (gameService.showGameFinished()) {
    <app-finished-game />
  }

  @if (gameService.showGameEnded()) {
    <app-end-game />
  }

  <div
    class="mt-16 flex h-full flex-col items-center justify-between text-center"
    [@shake]="gameService.showIncorrectGuess()"
  >
    <app-play-button class="mb-12" (click)="gameService.playSong()" />
    <form class="flex flex-col gap-4" autocomplete="off">
      <input
        type="text"
        autofocus
        name="playerGuess"
        autocomplete="off"
        placeholder="Name of the song"
        class="w-64 rounded-full border border-gray-400 px-4 py-2 text-center placeholder:text-center focus:border-primary focus:outline-primary"
        [(ngModel)]="game().playerGuess"
      />
      <app-button (click)="gameService.guessSong()">Guess</app-button>

      @if (game().skips > 0) {
        <app-button
          (onClick)="gameService.showSongSkipped.set(true)"
          class="text-xs"
          variant="secondary"
        >
          Skip
        </app-button>
      }
    </form>
  </div>
</div>
