<app-main-layout>
  <div class="flex flex-col items-center justify-center">
    <h1 class="mb-4 font-display text-4xl">Credits</h1>

    <p>
      Built out of curiosity with Angular by
      <a
        class="font-semibold text-primary hover:text-primary-light"
        href="https://github.com/edyespinal"
        target="_blank"
        nofollow
        noreferrer
        noopener
        >Edy</a
      >
    </p>
    <p>
      See the project on
      <a
        class="font-semibold text-primary hover:text-primary-light"
        href="https://github.com/edyespinal/clipz"
        >Github</a
      >
    </p>
  </div>
</app-main-layout>
