<app-main-layout>
  <div
    class="mx-auto flex w-full max-w-screen-md flex-grow flex-col items-center"
  >
    <h1 class="font-display text-4xl font-semibold">Leader Board</h1>
    <p class="mb-8">These are la creme de la creme</p>

    <ul class="flex w-96 flex-col gap-2">
      @for (
        leader of leaders() | sortLeaders;
        track leader.id;
        let i = $index
      ) {
        <li class="flex justify-between border-b border-dashed last:border-0">
          <p class="flex gap-2">
            <span class="w-5">{{ leader | getLeaderMedal: i }}</span>
            <span>{{ i + 1 }}.</span>
            <span>{{ leader.name }}</span>
          </p>

          <p class="font-semibold">{{ leader.score }}</p>
        </li>
      }
    </ul>
  </div>
</app-main-layout>
